@page
@model our_group.Pages.Users.LogoutModel

<form method="post" asp-antiforgery="true">
    <button type="submit" class="btn btn-link">Logout</button>
    <!-- Simple form to trigger POST sign-out -->
    
</form>
